<!DOCTYPE html>
<html>
{% include 'header.html' %}
  <body>
  <div id="loader"></div>
	
	{% include 'navbar.html' %}
	
	<div id="content-sigmagfx" >
	<div class="caontainer">
		<div id="gallery">
			{{ content }} 
			<div class="line-s container"></div>
			<div id="grid-gallery" class="grid-gallery">
				<section class="grid-wrap">
					<ul class="grid">
						<li class="grid-sizer"></li><!-- for Masonry column width -->

{% for image in gallery %}
						<li>
							<figure>
								<img src="{{ image.url_500 }}" alt="{{ image.id }}"/>
								<figcaption><p>{{ image.caption }}</p></figcaption>
							</figure>
						</li>
{% endfor %}
					</ul>
				</section><!-- // grid-wrap -->
				<section class="slideshow">
					<ul>
{% for image in gallery %}
						<li>
							<figure>
								<figcaption><p>{{ image.caption }}</p></figcaption>
								<img src="{{ image.url_large }}" alt="{{ image.id }}"/>
							</figure>
						</li>
{% endfor %}
					</ul>
					<nav>
						<span class="icon nav-prev"></span>
						<span class="icon nav-next"></span>
						<span class="icon nav-close"></span>
					</nav>
					<div class="info-keys icon">Navigate with arrow keys</div>
				</section><!-- // slideshow -->
			</div><!-- // grid-gallery -->
		</div><!-- // gallery -->
		<script src="http://sigmagfx.com/themes/sigmagfx/grid/js/imagesloaded.pkgd.min.js"></script>
		<script src="http://sigmagfx.com/themes/sigmagfx/grid/js/masonry.pkgd.min.js"></script>
		<script src="http://sigmagfx.com/themes/sigmagfx/grid/js/classie.js"></script>
		<script src="http://sigmagfx.com/themes/sigmagfx/grid/js/cbpGridGallery.js"></script>
		<script>
			new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
		</script>
	</div>
	</div>
	<div class="line-s container"></div>
{% include 'footer.html' %}
      
      </body>
</html>