<!DOCTYPE html>
<html>
<head>
	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
	<meta name="Author" content="{{ meta.author }}">
	<link rel="shortcut icon" href="{{ theme_url }}/images/favicon.ico" type="image/x-icon" />
	<link rel="icon" type="image/ico" href="{{ theme_url }}/images/favicon.ico">
{% if meta.description %}
	<meta name="Description" content="{{ meta.description }}">
{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
{% endif %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name = "apple-mobile-web-app-capable" content="yes"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="http://37.media.tumblr.com/avatar_596dc207b7d2_128.png"/>

	<link rel="stylesheet" href="{{ theme_url }}/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ theme_url }}/style/galerie.css">
	<link rel="stylesheet" href="{{ theme_url }}/style/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ theme_url }}/js/jquery.transit.min.js"></script>
	<script src="{{ theme_url }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{{ theme_url }}/js/modernizr.custom.js"></script>
	<script src="{{ theme_url }}/js/sigmagfx.preloader.js"></script>
	<script src="{{ theme_url }}/js/sigmagfx.galerie.js"></script>
	<script src="{{ theme_url }}/js/sigmagfx.main.js"></script>

	
</head>
  <body>
	<div id="loader"></div>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div role="navigation">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" id="small-logo" href="http://sigmagfx.com"><img src="{{ theme_url }}/images/slogo2.png" alt="sigmagfx.com"><div>sigmagfx</div></a>
				</div>
				<div class="navbar-collapse collapse">
						<ul class='nav navbar-nav' id=''>
								<li class='dropdown' >
									<a href='#' class='dropdown-toggle' data-toggle='dropdown'>Portfolio <b class='caret'></b></a>
									<ul class='dropdown-menu'>
										<!--<li class='' ><a href='#'>Print </a></li>-->
										<li class='dropdown' ><a href='/branding'>Branding </a>
											<!--<ul role="menu" class="dropdown-menu" style="display: none;">
												<li class=""><a href="/branding_print">Print</a></li>
												<li class=""><a href="/branding_web">Web</a></li>
											</ul>-->
										</li>
										<li class='dropdown' ><a href='/maps'>Maps </a>
											<!--<ul role="menu" class="dropdown-menu" style="display: none;">
												<li class=""><a href="#">Print</a></li>
												<li class="last"><a href="#">Web</a></li>
											</ul>-->
										</li>
										<!--<li class='last' ><a href='#'>Free </a></li>-->
									</ul>
								</li>
								<li class=''><a href='https://sellfy.com/sigmagfx'>Shop</a></li>
								<a class="navbar-brand" id="big-logo" href="http://sigmagfx.com"><img src="http://sigmagfx.com/themes/sigmagfx/images/mlogo.png"></a>
								<li class='dropdown' ><a href='http://blog.sigmagfx.com' target="_blank" >Blog </a></li>
								<li class='dropdown' ><a href='' class='dropdown-toggle' data-toggle='dropdown'>Contact <b class='caret'></b></a>
									<ul class='dropdown-menu'>
										<li class='' ><a href='http://sigmagfx.com/about/'>About us! </a></li>
										<li class='last' ><a href='http://sigmagfx.com/contact'>Message us! </a></li>
									</ul>
								</li>
						</ul>
				</div>
			</div>
		</div>
	</nav>