
<head>
	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
	<meta name="Author" content="{{ meta.author }}">
	<link rel="shortcut icon" href="{{ theme_url }}/images/favicon.ico" type="image/x-icon" />
	<link rel="icon" type="image/ico" href="{{ theme_url }}/images/favicon.ico">
{% if meta.description %}
	<meta name="Description" content="{{ meta.description }}">
{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
{% endif %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name = "apple-mobile-web-app-capable" content="yes"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" href="http://37.media.tumblr.com/avatar_596dc207b7d2_128.png"/>

    <link rel="stylesheet" type="text/css" href="{{ theme_url }}/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ theme_url }}/style/style.css">
	<link rel="stylesheet" type="text/css" href="{{ theme_url }}/bower_components/GridGallery/css/component.css" />
    <link rel="stylesheet" type="text/css" href="{{ theme_url }}/style/galerie.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="{{ theme_url }}/js/jquery.transit.min.js"></script>
	<script src="{{ theme_url }}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{{ theme_url }}/js/modernizr.custom.js"></script>
	<script src="{{ theme_url }}/js/sigmagfx.preloader.js"></script>
	<script src="{{ theme_url }}/js/sigmagfx.galerie.js"></script>
	<script src="{{ theme_url }}/js/sigmagfx.main.js"></script>
</head>